.icon-arrows {
    display: block;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    background: url(../../assets/icons/icon-arrows.png) center center/cover no-repeat;
    cursor: pointer;
}