.button {
    display: block;
    font-size: 16px;
    line-height: 12px;
    font-weight: 600;
    width: 100%;
    border: none;
    background: #675AFF;
    padding: 20px 30px;
    border-radius: 5px;
    color: #FBFFFF;
    margin-top: 30px;
    &.btn--disabled {
        opacity: 0.5;
    }
}